{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
content %}


<!-- <form action="{{ url_for('home')}}" method="post">
        <label for="url">  Upload your dataset </label>  <br>
        <input type="url" name="path" id="url" placeholder="un chemin absolu" value="yourFolder/file.csv">
          <br>
          <button type="submit" class="btn btn-primary btn-large">submit</button> 
      </form> -->

<br>
<div class="text-center row ">
    <div class="col-6"> Shape : {{ mytext }} </div>
</div>
<br>
<form action="{{ url_for('build')}}" method="POST" enctype=multipart/form-data>
    
    <div class="row text-center">
        <div class="col-4">
            Chooose your target variable: <br>
            <select name="target">
                {% for f in features %}
                <option>{{ f }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-4">
            <input type="text" name="filename" value="{{ filename }}">
        </div>
        
        <div class="col-4">
            Chooose the features: <br>
            <select name="features" multiple>
                {% for f in features %}
                <option>{{ f }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-4">
            choose the model : <br>
            <select name="model" id="">
                <option>
                    GBRegressor
                </option>
                <option>
                    RFClassifier
                </option>
            </select>
        </div>

    </div>
<br> <br>
    <button type="submit" class="btn mybtn btn-lg">Fit !</button>
</form>
<div class="text-center row ">
    <div class="col-6">accuracy: {{ accuracy }} <br> r2:{{ r2 }} <br> score2: {{ score2 }} <br> score3:{{ score3 }} </div>
</div>
{% endblock %}