{% extends "base.html" %} {% block title %}NOCODE ML {% endblock %} {% block
content %}

<br>
<h2 class="text-center">Welcome</h2>
<br>
<h6>Upload/drag your dataset (it should be .csv file; comma separated)</h6>
<br>

<!--
    <nav>
    <div class="nav nav-tabs flex-column flex-sm-row nav-justified" id="nav-tab" role="tablist">
        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
            aria-controls="nav-home" aria-selected="true">
            Regression
        </a>
        <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
            aria-controls="nav-profile" aria-selected="false">
            Classification
        </a>
        <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
            aria-controls="nav-contact" aria-selected="false">
            Time series & DL
        </a>
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        reg here
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        classification here
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        soon
    </div>
</div>-->


<form action="{{ url_for('choseparams') }}" class="row" id="" method="POST" enctype=multipart/form-data>
    <div class="wrapper">
        <div class="col-12 file-upload">
            <input type="file" name="file" id="ff" accept=".csv" onchange="document.getElementById('jss').innerHTML =document.getElementById('ff').value.split('\\').pop()">
            <i class="fa fa-arrow-up"></i>
        </div>
    </div>
    <p class="col-12" id="jss">
        &nbsp; &nbsp;
    </p>
    <div class="col-12">
        <br> 
        <button type="submit" class="btn mybtn btn-lg">Submit</button>
    </div>
</form>

{% endblock %}